{% load tex_safe %}
\documentclass{article}
\usepackage{array,booktabs,arydshln,xcolor}
\usepackage[
	table-number-alignment=center,
	round-integer-to-decimal,
	round-mode = places,
	round-precision = 2,
	output-decimal-marker={.},
]{siunitx}
\usepackage{lmodern}
\usepackage{graphicx}
\usepackage{geometry}
\usepackage{tabularx}
\usepackage{ragged2e}
\begin{document}
\newgeometry{left=15mm, right=15mm, top=10mm}
\newcommand*\sepline{%
  \begin{center}
    \rule[1ex]{\textwidth}{.5pt}
  \end{center}}
\newcommand\VRule[1][\arrayrulewidth]{\vrule width #1}
\ttfamily

\begin{center}
\Huge \textbf{ {{ company_name }} }\\
\includegraphics[width=.5in]{ {{ company_logo_path }} }
\end{center}\textbf{{"{"}}{{ comapny_name }}{{"}"}}\normalsize\\
\textbf{{"{"}}{{ company_name }}{{"}"}}
\hfill
\textbf{ {{ client_name }} }\\
{% for addr_line in address_lines %}{{ addr_line.0 }} \hfill {{ addr_line.1 }}\\ {% endfor %}

\sepline
\begin{tabularx}{\linewidth}{
	lr
}
\large \textbf{ {{ date_label|tex_safe }} } & \large {{ invoice_date }}\\
\large \textbf{ {{ invoice_number_label|tex_safe }} } & \large {{ invoice_number }}\\
\end{tabularx}
\sepline

\Large \begin{center}
\textbf{ {{ invoice_items_label }} }\\
\end{center}
\normalsize

\begin{tabularx}{\linewidth}{
  |c|c|S|S[round-precision=0]|S|X|
}
\specialrule{.5pt}{0pt}{0pt}
\sffamily \textbf{ {{ sku_label }} } &
\sffamily \textbf{ {{ description_label }} } &
\sffamily \textbf{ {{ unit_price_label }} } &
\sffamily \textbf{ {{ quantity_label }} } &
\sffamily \textbf{ {{ cost_label }} } &
\hfill \sffamily \textbf{ {{ notes_label }} } \\
\specialrule{.5pt}{0pt}{0pt}
{% for item in items %}
{{ item.sku }} &
{{ item.description }} &
\${{ item.cost }} &
{{ item.quantity }} &
\${{ item.total }} &
{{ item.notes }} \\
\specialrule{.5pt}{0pt}{0pt}
{% endfor %}
\end{tabularx}
\begin{tabularx}{\linewidth}{lr}
{{ subtotal_label }} & \${{ total|floatformat:2 }}\\
{% for tax in taxes %}
{{ tax.tax_type|upper }} {{ tax.percentage|floatformat:0 }}\% ({{ tax.identifier }}) & \${{ tax.cost|floatformat:2 }}\\
{% endfor %}
\textbf{{"{"}}{{ total_label }} {{"}"}} & \textbf{ \${{ final|floatformat:2 }} }\\
\end{tabularx}
\end{document}
