{% extends "core/plain.html" %}
{% load static %}
{% block content %}
<div class="invoice-wrapper">
  <header class="invoice-header">
    <h1 class="invoice-title left">{{ company_name }} | Invoice</h1>
    <div class="invoice-image-wrapper">
      <img alt="Bytetools Technologies Inc.'s logo" src="{% static "core/img/logo.png" %}">
    </div>
  </header>
<div class="invoice-info">
  <label for="invoice-date">Date</label>
  <span id="invoice-date" class="invoice-date">{{ invoice_date }}</span>
  <label for="invoice-num">Invoice #</label>
  <span id="invoice-num" class="invoice-num">{{ invoice_number }}</span>
  <label for="invoice-customer-num">Customer #</label>
  <span id="invoice-customer-num" class="right">{{ customer.id }}</span>
  <label for="invoice-due-date">Due date</label>
  <span id="invoice-due-date" class="right">{{ invoice_due_date }}</span>
</div>
<hr>
<div class="invoice-addresses">
  <div>
    <h3 class="invoice-contractor-heading">{{ contractor_heading }}</h3>
    <address>
    <span class="invoice-contractor-name bold">{{ company_name }}</span>
    <br>
    {% for addr_line,_ in address_lines %}
      {{ addr_line }}<br>
    {% endfor %}
    </address>
  </div>
  <div class="invoice-client-address">
    <h3 class="invoice-client-heading">{{ client_heading }}</h3>
    <address>
    <span class="invoice-client-name bold">{{ client_name }}</span><br>
    {% for _,addr_line in address_lines %}
      {{ addr_line }}<br>
    {% endfor %}
    </address>
  </div>
</div>
<hr>
<h2 class="invoice-items-header">{{ invoice_items_label }}</h2>
<div class="invoice-items">
  <table>
    <thead>
      <th>SKU</th>
      <th>Description</th>
      <th>Unit Price</th>
      <th>Quantity</th>
      <th>Cost</th>
      <th>Notes</th>
    </thead>
    <tbody>
      {% for item in items %}
        <tr class="invoice-item">
          <td class="invoice-item-sku">{{ item.sku }}</td>
          <td class="invoice-item-description">{{ item.description }}</td>
          <td class="invoice-item-cost right">${{ item.cost|floatformat:2 }}</td>
          <td class="invoice-item-quantity">{{ item.quantity|floatformat:0 }}</td>
          <td class="invoice-item-total right">${{ item.total|floatformat:2 }}</td>
          <td class="invoice-item-notes">{{ item.notes }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<hr>
<h2 class="invoice-total-header">Total</h2>
<div class="invoice-finals-and-taxes">
  <label for="invoice-total">Subtotal</label>
  <span id="invoice-total" class="invoice-total right">${{ total|floatformat:2 }}</span>
  {% if discounts %}
    <label class="invoice-discounts-label">Discounts</label>
    <span></span>
    {% for discount in discounts %}
    {% if discount.discount_type == "P" %}
      <label class="invoice-discount-label" for="invoice-discount-{{ discount.name }}">&nbsp;&nbsp;{{ discount.name }} (-{{ discount.amount }}%)</label>
    {% else %}
      <label class="invoice-discount-label" for="invoice-discount-{{ discount.name }}">&nbsp;&nbsp;{{ discount.name }}</label>
    {% endif %}
      <span class="invoice-discount-amount right" id="invoice-discount-{{ discount.name }}">-${{ discount.cost|floatformat:2 }}</span>
    {% endfor %}
    <label class="invoice-total-after-discounts-label" for="invoice-total-after-discounts">Subtotal after discounts</label>
    <span class="invoice-total-after-discounts-amount right" id="invoice-total-after-discounts">${{ total_after_discounts|floatformat:2 }}</span>
  {% endif %}
  {% if taxes %}
    <label for="invoice-taxes-label">Taxes</label>
    <span></span>
    {% for tax in taxes %}
      <label for="invoice-{{ tax.tax_type|lower }}">&nbsp;&nbsp;{{ tax.tax_type|upper }} {{ tax.percentage|floatformat:0 }}% ({{ tax.identifier }})</label>
      <span id="invoice-{{ tax.tax_type|lower }}" class="invoice-{{ tax.tax_type|lower }} right">${{ tax.cost|floatformat:2 }}</span>
    {% endfor %}
  {% endif %}
  <label for="invoice-final">Total</label>
  <span id="invoice-final" class="invoice-final total right">${{ final|floatformat:2 }}</span>
</div>
<hr>
<div class="invoice-pay-methods">
  Invoice payable via: <ul class="semantic">
    <li><a href="">Online (e-Transfer)</a></li>
    <li><a href="">Online Credit (3% surcharge)</a></li>
    <li><span class="italic">Interac</span> e-Transfer to <span class="invoice-etransfer-email">finances@bytetools.ca</span></li>
    <li>Cheque addressed to:
    <address>
    {{ company_name }}<br>
    {% for addr_line,_ in address_lines %}
      {{ addr_line }}<br>
    {% endfor %}
    </address>
    </li>
  </ul>
</div>
</div>
{% endblock %}
