\Large \begin{center}
\textbf{ {{ invoice_items_label }} }\\ 
\end{center}
\normalsize
\begin{tabularx}{\linewidth}{
  |c|c|S|S[round-precision=0]|S|X|
}
\specialrule{.5pt}{0pt}{0pt}
\sffamily \textbf{ {{ sku_label }} } &
\sffamily \textbf{ {{ description_label }} } &
\sffamily \textbf{ {{ unit_price_label }} } &
\sffamily \textbf{ {{ quantity_label }} } &
\sffamily \textbf{ {{ cost_label }} } &
\hfill \sffamily \textbf{ {{ notes_label }} } \\
\specialrule{.5pt}{0pt}{0pt}
{% for item in items %}
{{ item.sku }} &
{{ item.description }} &
\${{ item.cost }} &
{{ item.quantity }} &
\${{ item.total }} &
{{ item.notes }} \\
\specialrule{.5pt}{0pt}{0pt}
{% endfor %}
\end{tabularx}
\normalsize
