\begin{tabularx}{\linewidth}{p{16cm}r}
\huge\textbf{{"{"}}{{ company_name }}\nobreakspace| Invoice } &
\includegraphics[width=.33in]{ {{ company_logo_path }} }
\end{tabularx}\\
\Large \begin{center}
\textbf{ {{ invoice_info_header }} }\\
\end{center}
\normalsize
